.avtorizacija {
  background-size: 100% 100%;
  background-position: center;
  /*background-image: url("https://static.overlay-tech.com/assets/18b9dfb5-30ed-4b28-8032-90d37be5e477.png");*/
  padding: 58px 132px 60px 138px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -5px;
}

.logo {
  width: 300px;
  margin-left: -70px;
  padding-left: 15px;
  margin-top: -55px;
}

body{
  background-color: rgb(233,233,233);
}

.VSTU {
  font-family: "Arial", serif;
  font-size: 30px;
  text-align: left;
  color: white;
  padding-top: 25px;
  padding-left: 20px;
}


.VSTU_full {
  border-left: 1px solid var(--gold);
  line-height: 1.5em;
  height: 35px;
  vertical-align: middle;

  font-family: "Helvetica", serif;
  font-size: 11px;

  color: var(--gold);
  padding-top: 3px;
  padding-left: 20px;
  margin-top: -55px;
  margin-left: 120px;
}

.header {
  background-color: #263145;
  width: 100%;
  height: 80px;
  margin-top: -30px;
  margin-bottom: 10px;
  margin-left: -10px;
  padding-right: 20px;
  box-shadow: 0px 5px 15px rgba(116, 116, 116, 0.62);
}

.flex-wrapper-one {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.55);
  margin-bottom: 55px;
  border-radius: 25px;
  padding: 0px 150px 2px 100px;
  box-shadow: 0 4px 4px 0 var(--transparent-black);
  width: 200px;
  height: 250px;
  position: relative;

}

.labelmer {

  transform: rotate(90deg);
  border-bottom: 2px dashed #AC9D8296;
  line-height: 1.5em;
  height: 50px;

  padding-top: 150px;
  padding-left: 0px;

  font-family: "Forum", serif;
  font-size: 25px;
  font-weight: 600;
  color: rgba(172, 157, 130, 0.59);
  display: flex;
  text-align: right;
  position: absolute;
  left: 335px;
  bottom: 0px;
}


.username-label {
  height: 17px;
  width: 258px;
  font-family: "Sansation Light";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: rgba(65, 129, 168, 1);
  display: flex;
  margin-bottom: 10px;
}

.user-name-area {
  width: 400px;
  height: 30px;
  background-color: var(--transparent-white);
  margin-bottom: 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid rgba(65, 129, 168, 0.65);
  outline: none;

}

.pass-label {
  height: 16px;
  width: 258px;
  font-family: "Courier New";
  font-size: 15px;
  font-weight: 300;
  line-height: normal;
  color: var(--dark-blue);
  display: flex;
  margin-bottom: 5px;
}

.flex-wrapper-two {
  display: flex;
  align-items: flex-start;
}

.b1label {
  height: 40px;
  width: 100px;
  font-family: "Sansation Light";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: rgba(74, 155, 205, 1);
  display: flex;
  padding: 8px 15px 8px 23px;
  background-color: rgba(162, 190, 226, 0.33);
  border-color: rgba(133, 157, 189, 0.33);
  margin-right: 16px;
  border-radius: 18px;
  box-shadow: 0 4px 4px 0 var(--transparent-black);
  display: flex;
  align-items: center;
}

.reg-label {
  font-family: "Sansation Light";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  color: rgba(74, 155, 205, 1);
  background-color: rgba(162, 190, 226, 0.33);
  border-radius: 18px;
  padding: 8px 12px 7px 16px;
  box-shadow: 0 4px 4px 0 var(--transparent-black);
  display: flex;
  border-color: rgba(133, 157, 189, 0.33);
  align-items: center;
}

:root {
  /* Colors */
  --black: rgba(0, 0, 0, 1);
  --dim-gray: rgba(131, 109, 109, 1);
  --light-steel-blue: rgba(148, 186, 203, 1);
  --silver: rgba(200, 196, 196, 1);
  --slate-gray: rgba(101, 137, 153, 1);
  --thistle: rgba(229, 193, 193, 1);
  --transparent-black: rgba(0, 0, 0, 0.25);
  --white: rgba(255, 255, 255, 1);
  --transparent-white: rgba(255, 255, 255, 0.75);
  --gold: #c3b294;
  --dark-blue: #263145;
}